<div class="container" ng-controller="ConsoleController as console" ng-init="console.init()" >

  <!-- <div class="page-header">
    <h1>Serial Console</h1>
  </div> -->

  <div class="row" >
    <label for="send_input">Enviar:</label>
    <input type="text" name="send_input" id="send_input" value="" ng-model="console.input" ng-keyup="$event.keyCode == 13 ? console.send() : null">

    <label for="addr_input">A:</label>
    <!-- <select class="form-control" ng-model="interaction.event" ng-options="device.name for device in devices_all"></select> -->

    <input type="text" name="addr_input" id="addr_input" value="" ng-model="console.deviceAddr" ng-keyup="$event.keyCode == 13 ? console.send() : null">

    <label for="filter_input">Filter</label>
    <input type="checkbox" name="filter_input" id="filter_input" ng-model="console.filter">

    <input type="button" name="send_button" id="send_button" value="Send" ng-click="console.send()">

    <div id="output_div">
      <pre id="console_output">{{console.output}}</pre>
    </div>
    <button name="clear_button" id="clear_button" ng-click="console.clear()">Clear</button>
  </div>

</div>
