<div ng-controller="AppsController" data-ng-init="init()">
	<div class="page page-dashboard col-md-12" ng-class="{'content-body':userLogin}">

		<div class="text-right">
			<button type="button" class="btn btn-outlined btn-primary" ng-click='newToken()' >
				<i class="fa fa-plus"></i>
				Create token
			</button>
		</div>


		<table class="table table-striped pd-top100">
			<thead>
				<th>Name</th>
				<th>Token</th>
				<th>Status</th>
			</thead>
			<tbody>
				<tr>
					<td>Default</td>
					<td>ASD97654JSH8756BAHJA</td>
					<td>Active</td>
					<td>
						<a class="btn btn-outlined btn-success" ng-click='editToken()' > Editar </a>
						<a class="btn btn-outlined btn-danger" ng-click='deleteToken()' ><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="modal fade" id="modal-token" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">{{modal_title}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<form role="form">

								<div class="form-group">
									<label for="param">Name: </label>
									<input type="text" class="form-control" name="name">
								</div>

							</form>


						</div>
					</div>
					<p class="bg-danger" ng-show="error" >{{error}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button class="btn btn-success" ng-show="edit_element" ng-click="updateToken()">
						Update
					</button>
					<button class="btn btn-success" ng-show="save_element" ng-click="saveToken()">
						Save
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>
